.submitForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  h1 {
    border-bottom: 1px solid #ffffff44;
    width: 100%;

    padding: 30px;
    margin-bottom: 20px;
  }

  .buttonCollection {
    // background-color: red;

    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    button {
      margin: 30px 10px;
      border: none;
      padding: 10px 20px;

      border-radius: 3px;
      font-weight: 700;

      background-color: rgba(15, 15, 15, 0.382);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.274);

      transition: 0.3s;

      //   save btn
      &:nth-child(1) {
        color: rgb(255, 255, 255);
        border: 1px solid rgba(12, 207, 45, 0.291);
      }
      //   cancel btn
      &:nth-child(2) {
        color: rgb(207, 12, 12);
        border: 1px solid rgba(207, 12, 12, 0.441);
      }

      &:focus {
        outline: rgb(86, 164, 237) 2px solid;
      }
      &:hover {
        background-color: #191919;
        cursor: pointer;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.774);
        transition: 0.3s;
        //   save btn
        &:nth-child(1) {
          border: 1px solid rgb(12, 207, 45);
        }
        //   cancel btn
        &:nth-child(2) {
          border: 1px solid rgb(207, 12, 12);
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .submitForm {
    max-width: 400px;
    width: 100%;
  }
}
