.submitForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  h1 {
    border-bottom: 1px solid #ffffff44;
    width: 100%;

    padding: 30px;
    margin-bottom: 20px;
  }

  .buttonCollection {
    // background-color: red;

    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    button {
      margin: 30px 10px;
      border: none;
      padding: 10px 20px;

      border-radius: 3px;
      font-weight: 700;

      background-color: transparent;

      transition: 0.3s;

      //   save btn
      &:nth-child(1) {
        color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.174);
        background-color: #1d4794;
      }
      //   cancel btn
      &:nth-child(2) {
        color: rgb(255, 255, 255);
        border: 1px solid transparent;
        background-color: #ff0f0fa1;
      }

      &:focus {
        outline: rgb(86, 164, 237) 2px solid;
      }
      &:hover {
        cursor: pointer;
        transition: 0.3s;
        //   save btn
        &:nth-child(1) {
          border: 1px solid rgba(8, 8, 120, 0.472);
          background-color: #224380;
        }
        //   cancel btn
        &:nth-child(2) {
          // border: 1px solid rgb(207, 12, 12);
          background-color: #d01111a1;
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .submitForm {
    max-width: 400px;
    width: 100%;
  }
}
