.selectArea {
  width: 100%;
  max-width: 500px;

  padding: 10px 9px;

  display: flex;
  flex-direction: column;

  border: none;
  border-radius: 3px;
  overflow: hidden;

  select {
    color: rgb(17, 17, 17);
  }

  &:focus {
    outline: rgb(86, 164, 237) 2px solid;
  }

  label {
    margin-bottom: 10px;
  }

  option {
    border: none;
    color: rgb(134, 134, 134);
  }
}
