.tableSubjects {
  border-collapse: collapse;
  position: relative;
  width: 100%;

  overflow: hidden;

  thead {
    tr {
      background-color: #00000080;
      th {
        padding: 10px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #00000025;
      }
      &:nth-child(even) {
        background-color: #00000016;
      }

      td {
        padding: 0 15px;
        min-height: 100px;
        min-width: 100px;

        & + .actionsContainer {
          display: flex;
          justify-content: space-around;

          height: 100%;

          position: relative;

          .actionsBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 900;
            border-radius: 5px;

            min-width: 20px;
            min-height: 20px;
            max-height: 20px;

            margin: auto;

            cursor: pointer;
          }
          .edit,
          .del {
            color: rgb(156, 194, 247);
            &:hover {
              color: rgb(227, 236, 250);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .tableSubjects {
    max-width: 400px;
    width: 100%;

    overflow: hidden;

    font-size: 14px;


    thead{
      tr{
        th{
          padding: 10px 5px;
        }
      }
    }

    tbody {
      padding: 0;
      margin: 0;
      tr {
        td {
          min-width: fit-content;
          max-width: 20vw;

          padding: 5px;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}
